<h1>My Tasks</h1>

<% @tasks.each do |task|  %>
<p><input type="checkbox" <%="checked" if task.completed%>> <%= link_to task.title , task_path(task.id) %> <%= link_to 'Delete', task_path(task),method: :delete, data: {confirm: "Are you sure?"} %></p>
<%end %>

<%= link_to "add new",  tasks_new_path %>
